{% import '::macros.html.twig' as macros %}

<div class="swiper-container">
    <div class="swiper-wrapper">

        <div class="swiper-slide">

            <div class="cocktail-flags">

                {% if recipe.getTotalDegree() > 30 %}
                    {% set degreeClass = 'strong-3' %}
                    <span class="cocktail-flag strong-3"></span>
                {% elseif recipe.getTotalDegree() > 20 and recipe.getTotalDegree() <= 30 %}
                    {% set degreeClass = 'strong-2' %}
                    <span class="cocktail-flag strong-2"></span>
                {% else %}
                    {% set degreeClass = 'strong-1' %}
                    <span class="cocktail-flag strong-1"></span>
                {% endif %}

                {% if recipe.getTotalPrice() > 10 %}
                    {% set priceClass = 'expensive-3' %}
                    <span class="cocktail-flag expensive-3"></span>
                {% elseif recipe.getTotalPrice() > 5 and recipe.getTotalPrice() <= 10 %}
                    {% set priceClass = 'expensive-2' %}
                    <span class="cocktail-flag expensive-2"></span>
                {% else %}
                    {% set priceClass = 'expensive-1' %}
                    <span class="cocktail-flag expensive-1"></span>
                {% endif %}

            </div>

            <div class="cocktail-tags">
                <ul>
                {% for tag in recipe.tags %}
                    <li>#{{ tag }}</li>
                {% endfor %}
                </ul>
            </div>

            <div class="nav-arrow arrow-right"></div>
            
            <figure class="cocktail-img">
                <a href="{{ path('recipe_show', { 'slug': recipe.slug }) }}"><img src="{{ recipe.getWebPath | imagine_filter('cocktail_view') }}"/></a>
                <h2><a href="{{ path('recipe_show', { 'slug': recipe.slug }) }}">{{ recipe.name }}</a></h2>
            </figure>

        </div>

        <div class="swiper-slide recipe-info">

            <div class="nav-arrow arrow-left"></div>
            <div class="nav-arrow arrow-right"></div>
            
            <h2><a href="{{ path('recipe_show', { 'slug': recipe.slug }) }}">{{ recipe.name }}</a></h2>

            <section class="cocktail-ingredients">

                <ul>
                {% for ing in recipe.ingredients %}
                
                    <li class="ingredient">
                        <div class="info">
                            <span class="proportion" data-orig-proportion="{{ ing.proportion }}">{{ ing.proportion }}</span> <span class="unit">{{ ing.unit }}</span> <span class="ingredient-name">{{ ing.ingredient }}</span></h4>
                        </div>
                    </li>
                
                {% endfor %}
                </ul>
            </section>

            {{ macros.recipeButtons(recipe) }}

        </div>

        <div class="swiper-slide recipe-story">

            <div class="nav-arrow arrow-left"></div>

            <h2><a href="{{ path('recipe_show', { 'slug': recipe.slug }) }}">{{ recipe.name }}</a></h2>

            <section class="details">
                <ul>
                    <li class="strenth">
                        <div class="icon-wrapper">
                            <div class="icon {{ degreeClass }}"></div>
                        </div>
                        <span class="text">{{ recipe.getTotalDegree() }} %</span>
                    </li>
                    <li class="price">
                        <div class="icon-wrapper">
                            <div class="icon {{ priceClass }}"></div>
                        </div>
                        <span class="text">{{ recipe.getTotalPrice() }} &euro;</span>
                    </li>
                </ul>
                <div class="clear"></div>
            </section>

            <section class="description">
                <p>{{ recipe.description }}</p>
            </section>

            {{ macros.shareButtons(recipe) }}

        </div>

    </div>
</div>