{% import '::macros.html.twig' as macros %}

<div class="swiper-container">
    <div class="swiper-wrapper">

        <div class="swiper-slide"> 

            <div class="nav-arrow arrow-right"></div>
            
            <figure class="cocktail-img">
                <a href="{{ path('recipe_show', { 'slug': recipe.slug }) }}"><img src="{{ asset(recipe.getWebPath) | imagine_filter('cocktail_view') }}"/></a>
                <h2><a href="{{ path('recipe_show', { 'slug': recipe.slug }) }}">{{ recipe.name }}</a></h2>
            </figure>

        </div>

        <div class="swiper-slide recipe-info">

            <div class="total-degree">{{ recipe.getTotalDegree() }}</div>

            <div class="nav-arrow arrow-left"></div>
            <div class="nav-arrow arrow-right"></div>
            
            <h2><a href="{{ path('recipe_show', { 'slug': recipe.slug }) }}">{{ recipe.name }}</a></h2>

            <section class="cocktail-ingredients">

                <ul>
                {% for ing in recipe.ingredients %}
                
                    <li class="ingredient">
                        <div class="info">
                            <span class="proportion" data-orig-proportion="{{ ing.proportion }}">{{ ing.proportion }}</span> <span class="unit">{{ ing.unit }}</span> <span class="ingredient-name">{{ ing.ingredient }}</span></h4>
                        </div>
                    </li>
                
                {% endfor %}
                </ul>
            </section>

            {{ macros.recipeButtons(recipe) }}

        </div>

        <div class="swiper-slide recipe-story">

            <div class="nav-arrow arrow-left"></div>

            <h2><a href="{{ path('recipe_show', { 'slug': recipe.slug }) }}">{{ recipe.name }}</a></h2>

            <section class="description">
                <p>{{ recipe.description }}</p>
            </section>

            {{ macros.shareButtons(recipe) }}

        </div>

    </div>
</div>