<div class="inner-content">

	<h1>{{ title }}</h1>

	<div class="td-wrap td-form">

		<div class="up-triangle"></div>

		{{ form_start(form, {'method': 'POST'}) }}

			{{ form_errors(form) }}

            {% if mode != 'new' %}
                <input type="hidden" name="_method" value="PUT" />
            {% endif %}

			<h4 class="recipe-title">{{ form_widget(form.name) }}</h4>

            {{ form_row(form.description) }}

            {{ form_row(form.submit) }}

            {% if mode != 'new' %}
    
    			{% macro prototype(ingredient, itemNum) %}
    				
    				<div class="ingredient-number">#{{ itemNum }}</div>

    				<div class="ingredient-form">
    					{{ form_widget(ingredient) }}
    					<p class="remove-row"><a href="#" class="buttonS bRed">Remove</a></p>
    				</div>

    			{% endmacro %}

    			<h5>Ingredients</h5>

    			<ul id="ingredients-fields-list" class="nested-row" data-prototype="{{ form_widget(form.ingredients.vars.prototype) | e }}">
    			{% for ingredient in form.ingredients %}
    				<li>{{_self.prototype(ingredient, loop.index)}}</li>
    			{% endfor %}
    			</ul>

    			{{ macros.addItem('add-ingredient', 'add-ingredient.png', '#') }}

                {{ form_row(form.file) }}
                {{ form_row(form.glassType) }}
                {{ form_row(form.preparationType) }}
                {{ form_row(form.whereToDrink) }}
                {{ form_row(form.creator) }}
                {{ form_row(form.garnish) }}
                {{ form_row(form.difficulty) }}

            {% endif %}

			{{ form_widget(form._token) }}

		{{ form_end(form, {'render_rest': false}) }}
	
	</div>

</div>

<script type="text/javascript">
    
    jQuery(document).ready(function() {
        jQuery('#add-ingredient').click(function() {

        	var ingredientsCount = jQuery('#ingredients-fields-list li').length;
            var ingredientsList = jQuery('#ingredients-fields-list');

            // grab the prototype template
            var newWidget = '<div class="ingredient-form">' + ingredientsList.attr('data-prototype') + '</div>';
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your ingredientss
            // end name attribute looks like name="contact[ingredientss][2]"
            newWidget = newWidget.replace(/__name__/g, ingredientsCount);
            ingredientsCount++;

            // create a new list element and add it to the list
            var newLi = jQuery('<li></li>').html(newWidget);
            newLi.appendTo(jQuery('#ingredients-fields-list'));

            jQuery('#ingredients-fields-list li:last-child').prepend('<div class="ingredient-number">#' + ingredientsCount + '</div>');

            jQuery('#ingredients-fields-list li:last-child .ingredient-form').append('<p class="remove-row"><a href="#" class="buttonS bRed">Remove</a></p>');

            jQuery('#ingredients-fields-list li:last-child select').width('100%').select2();

            return false;
        });

        jQuery('#ingredients-fields-list').on('click', '.remove-row', function(){
        	$(this).parents("li").remove();

        	jQuery('#ingredients-fields-list li').each(function(i, elt){
        		$(this).find(".ingredient-number").text('#' + parseInt(i+1));
        	})

        	return false;
        })
    })
</script>