{% extends '::base.html.twig' %}

{% block body -%}
    <div class="inner-content">

        <h1>{{ recipe.name }}</h1>

        <div class="td-wrap td-show">

            <div class="up-triangle"></div>

            <p>{{ recipe.description }}</p>

            <p><img src="{{ asset(recipe.getWebPath) | imagine_filter('thumb') }}"/></p>

            {% for ing in recipe.ingredients %}

                {{ ing.ingredient }} : {{ ing.proportion }}

            {% endfor %}
        
        </div>

        <ul class="record_actions">
            <li>
                <a href="{{ path('recipe') }}">
                    Back to the list
                </a>
            </li>
            <li>
                <a href="{{ path('recipe_edit', { 'id': recipe.id }) }}">
                    Edit
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>

    </div>

{% endblock %}
